<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dubliners.a15lt">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_house"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_house_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".vote_misc"
            android:label="@string/title_activity_vote_misc"
            android:parentActivityName=".weekdays"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".vote_movies"
            android:label="@string/title_activity_vote_movie"
            android:parentActivityName=".weekdays"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vote_dishes"
            android:label="@string/title_activity_vote"
            android:parentActivityName=".weekdays"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".weekdays"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>